<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary">
    
    <mat-toolbar-row></mat-toolbar-row>

    <mat-toolbar-row class="center-content-horizontal">
      <span class="app-title">Welcome to EnCoRe Prototype</span>
    </mat-toolbar-row>

    <mat-toolbar-row></mat-toolbar-row>

    <mat-toolbar-row class="center-content-horizontal">
      <button mat-raised-button class="action-button" [routerLink]="['/account/login']">Login</button>
      <button mat-raised-button class="action-button" [routerLink]="">Register</button>
    </mat-toolbar-row>

    <mat-toolbar-row></mat-toolbar-row>
    
  </mat-toolbar>
</mat-sidenav-container>